@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;600;700&display=swap");
$MainColor: #fbb03b;
$SecColor: #138073;
$Thirdcolor: #ffffff;
$buttonColor: #39b69f;
$mainfont: "Merriweather", serif;
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin mobil {
}

body {
  background-color: $MainColor;
  padding: 50px;
  margin: 0;
  width: 100vw;
  height: 100vh;
  @include flex();
}
.main-container {
  width: 50%;
  height: 100%;
  @include flex();
  h1 {
    font-size: 4vh;
    color: $SecColor;
    font-weight: 600;
  }
  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: $SecColor;
  }
}

/* hamburger */
.center {
  background-color: $SecColor;
  position: absolute;
  width: 75px;
  height: 75px;
  padding: 15px 18px 0 18px;
  top: 20px;
  right: 25px;
  border-radius: 40px;
  box-sizing: border-box;
}
.center:before,
.center:after,
.center div {
  background: $Thirdcolor;
  content: "";
  display: block;
  height: 6px;
  border-radius: 0px;
  margin: 7px 0;
  transition: 0.5s;
}
.center:hover:before {
  transform: translateY(12px) rotate(135deg);
}
.center:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}
.center:hover div {
  transform: scale(0);
}
.center:hover {
  cursor: pointer;
}
.square {
  width: 90%;
  height: 80vh;
  background-color: $Thirdcolor;
}
/* mobil */
@media (max-width: 900px) {
}
